.content {
    border: 1px solid #404046;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
    height: auto;
}
.background {
    position: absolute;
    background: linear-gradient(180deg, rgba(5,7,10,0.4018558106836485) 42%, rgba(5,7,10,1) 78%);
    width: 100%;
    height: 120%;
}
.text-info {
    width: 73%;
    position: absolute;
    top: 70%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    text-align: center;
    background-color: #1B1A22;
    padding: 20px 50px;
}
.content video {
    min-width: 100%;
    min-height: 100%;
}
.text-info h1 {
    text-transform: uppercase;
    font-size: 100px;
    font-weight: 200;
}
.text-info h2 {
    font-family: 'Saira Extra Condensed', sans-serif;
    font-weight: 100;
    font-size: 49px;
    margin: 20px 0;
}
.text-info .button {
    display: inline-block;
    background-color: white;
    padding: 24px 75px;
    margin: 40px 0;
    cursor: pointer;
    position: relative;
    border-radius: 30px 10px 10px 10px;
    z-index: 0;

}
.text-info .button span {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 900;
    color: #111111;
    font-family: 'Roboto', sans-serif;
}
.text-info .button::before {
    position: absolute;
    display: block;
    top: -2px;
    left: -2px;
    height: 33px;
    width: 33px;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMzMiIGhlaWdodD0iMzMiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDMzIDMzIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOmNjPSJodHRwOi8vY3JlYXRpdmVjb21tb25zLm9yZy9ucyMiIHhtbG5zOmRjPSJodHRwOi8vcHVybC5vcmcvZGMvZWxlbWVudHMvMS4xLyIgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4KIDxtZXRhZGF0YT4KICA8cmRmOlJERj4KICAgPGNjOldvcmsgcmRmOmFib3V0PSIiPgogICAgPGRjOmZvcm1hdD5pbWFnZS9zdmcreG1sPC9kYzpmb3JtYXQ+CiAgICA8ZGM6dHlwZSByZGY6cmVzb3VyY2U9Imh0dHA6Ly9wdXJsLm9yZy9kYy9kY21pdHlwZS9TdGlsbEltYWdlIi8+CiAgICA8ZGM6dGl0bGUvPgogICA8L2NjOldvcms+CiAgPC9yZGY6UkRGPgogPC9tZXRhZGF0YT4KIDxnIHRyYW5zZm9ybT0ibWF0cml4KC45OTU1NyAwIDAgMS4wMDUyIC4wMDM5ODIzIC0uMDAxOTk5MikiPgogIDxwYXRoIGQ9Im0yNi4xMDQgMWUtM2MyLjExOTYgMCA3LjAzOCAwLjY5NDMyIDcuMDM4IDAuNjk0MzItNC4yNTQzIDAuMDk1OTQzLTguMDU4MyAyLjIwMTctOS44OTI2IDQuMDM2LTUuOTk4OCA1Ljk4NzgtMTEuOTkzIDExLjk4LTE3Ljk4MyAxNy45NzYtMi41NTkgMi41NjIxLTQuMTU5NyA1Ljg1MDctNC40MjQ0IDEwLjEyNWwtMC44MzgtNi45MzYzYzAtNi4zODc0IDIuNTM5NC03LjYxMjggMTEuMTY4LTE2LjE1OSA4LjYyODctOC41NDYxIDguOTcyOC05LjczNjIgMTQuOTMyLTkuNzM2MnoiIHN0eWxlPSJmaWxsOiMyMjIxMjk7c3Ryb2tlLWxpbmVjYXA6cm91bmQiLz4KICA8cGF0aCB0cmFuc2Zvcm09InJvdGF0ZSgxODAsMTMuMDUyLDEyLjk0OCkiIGQ9Im0yNi4xIDBjLTAuMDIwMDMgMS40NzY1LTAuMzIwNyAyLjkzNTgtMC44ODYgNC4zLTAuNTg3MTUgMS40MTc2LTEuNDQ5IDIuNzA1LTIuNTM2IDMuNzg4LTQuMDM0IDQuMDI1LTcuNDUyIDcuNDM2LTEwLjMyMiAxMC4zbC00LjExMyA0LjFjLTEuMDgxMSAxLjA4MzItMi4zNjYyIDEuOTQxNC0zLjc4MSAyLjUyNS0xLjQxNTIgMC41ODM1NS0yLjkzMTIgMC44ODMyMy00LjQ2MiAwLjg4Mmw4LjEwNDcgMC4xMzA0MmMyLjEzMDIgMC4wMDM1MzkgNC4yMDA0LTAuOTcxNzggNS43MDYzLTIuNDc4NGw5LjEtOS4wOCAwLjg0MS0wLjgzNmMxLjUwODgtMS41MDggMi4zNTY3LTMuNTUzOCAyLjM1Ny01LjY4N3YtNy45NDR6IiBmaWxsPSIjZmZmIiBvcGFjaXR5PSIuMzUiIHN0eWxlPSJmaWxsOiM2ZjZmNzQ7b3BhY2l0eToxIi8+CiA8L2c+Cjwvc3ZnPgo=);
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
}
.button span::before {
    width: 0;
    height: 0;
    background-color: #EEB249;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1 ;
    box-sizing: border-box;
    content: " ";
    transition: width 0.1s, height 0.2s;
    border-radius: 30px 10px 10px 10px;
}
.button:hover span::before {
    width: 100%;
    height: 100%;
}
.links-info {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    box-sizing: border-box;
}
.links-info-group .line {
    width: 100%;
    height: 0;
    opacity: 0.1;
    border-top: 1px solid rgb(255, 255, 255);
}
.links-title {
    display: flex;
    flex-direction: row;
    font-weight: 400;
    font-size: 22px;
    font-family: 'Saira Extra Condensed', sans-serif;
    line-height: 26.4px;
    letter-spacing: 1px;
    text-transform: uppercase;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    gap: 24px;
    white-space: nowrap;
}
.links-info-group a {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.03em;
    cursor: pointer;
    z-index: 1;
    padding-bottom: 4px;
    color: #F3F5F6;
    text-decoration: none;
}
.links-info-group a img {
    margin-right: 8px;
}
.links-info-group a::after {
    min-width: 24px;
    width: 24px;
    height: 24px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggb3BhY2l0eT0iMC42IiBkPSJNMTMgN0wxOCAxMkwxMyAxNyIgc3Ryb2tlPSIjQTZBNkE2IiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8cGF0aCBkPSJNNiA3TDExIDEyTDYgMTciIHN0cm9rZT0iI0E2QTZBNiIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==);
    content: " ";
}
.links-info-group a:hover,
.links-info-group a:hover::after{
    color: #EEB249;
}
.links-info-group a:hover::after,
.links-info-group a:hover img{
    filter: invert(30%) sepia(86%) saturate(354%) hue-rotate(348deg) brightness(96%) contrast(95%);
}
.link-row {
    margin-bottom: 24px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    gap: 50px;
}
.link-row1 {
    margin-top: 48px;
}
.link-row2 {
    margin-top: 12px;
}

